<div id="magic">
    <h4 class="titulo">Academic Score</h4>
    <%= render 'universities/academicscore' %>

    <h4 class="titulo">Infraestructure Score</h4>
    <%= render 'universities/infraestructurescore' %>

    <h4 class="titulo">Proffesors Score</h4>
    <%= render 'universities/professorscore' %>

    <h4 class="titulo">Alumni Score</h4>
    <%= render 'universities/alumniscore' %>


    <h4 class="titulo">Cost Score</h4>
    <%= render 'universities/investmentscore' %>


    <h4 class="titulo">Party Life Score</h4>
    <%= render 'universities/partyscore' %>
</div>