<br><div id= "banner" class="cover_home">
  <h4 class="white"><%= @university.country.name%></h4>
  <p class="white"><%= @university.address%></p>
  <h1><%= @university.name%></h1>
  <h1 class="element typed"></h1>
</div>


<div class="row">
<div class="col-md-12">
  <div id="bread">
    <ul>
      <li class=" <%= 'active' if current_page?(university_path(@university)) %> ">
        <%= link_to "University Info", university_path(@university) %>
      </li>
      <li class=" <%= 'active' if current_page?(university_careers_path(@university)) %> ">
        <%= link_to "Careers Info", university_careers_path(@university) %>
      </li>
    </ul>
  </div>
  </div>
</div>


<div class="row">
<div class="col-md-3">

  <div id="magic">
    <%= render '/universities/avatar' %>
  </div>

  <div id="magic">
    <h4 class="titulo">U-finder Score</h4>
    <%= render 'universities/unive_score' %>
  </div>

  <div id="magic">
      <h4 class="titulo">Academic Score</h4>
      <%= render 'universities/academicscore' %>

      <h4 class="titulo">Infraestructure Score</h4>
      <%= render 'universities/infraestructurescore' %>

      <h4 class="titulo">Proffesors Score</h4>
      <%= render 'universities/professorscore' %>

      <h4 class="titulo">Alumni Score</h4>
      <%= render 'universities/alumniscore' %>


      <h4 class="titulo">Cost Score</h4>
      <%= render 'universities/investmentscore' %>


      <h4 class="titulo">Party Life Score</h4>
      <%= render 'universities/partyscore' %>
  </div>
</div>

  <div class="col-md-9">
    <div id="magic">

<div class="row">
  <div class="col-md-12">
    <%= link_to "New Career", new_university_career_path(@university), class: "button button_blue button_block" %> <br><br>
  </div>
</div>    
      <div class="row">
        <% @careers.each do |career| %>
        <div class="col-md-4">
          <%= link_to university_career_path(@university, career) do %>
          <div id="cudrado">
            <h3><%= career.name.truncate(40) %></h3>
            <h4 class="titulo"><%=career.option %></h4>
            <% if career.description.present? %>
            <p><%= career.description.truncate(70)%></p>
            <% end %>
            <h5 class="izq"><span class="fa fa-clock-o"></span> <%= career.duration %></h5>
            <h5 class="der"><span class="fa fa-compass"></span> <%= career.area.truncate(17) %></h5>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>





<%= link_to 'New Career', new_university_career_path(@university) %>
