<br>
<h4 class="titulo center"><%= best_in_place [@university, @career], :option, :as => :select, :collection => {"1" => "Graduate", "2" => "Undergraduate", "3" => "Specialist", "4" => "Doctoral", "5" => "Master"}, :activator => "#80", :place_holder => "Edit graduate option " %><a href="#" id="80"> <span class="grande fa fa-pencil-square"></span></a></h4>
<h1 class="center upper">
  <%= best_in_place [@university, @career], :name, :place_holder => "Click me to add content!", :activator => "#1" %>
  <a href="#" id="1"> <span class="grande fa fa-pencil-square"></span></a>
</h1>

<h3 class="center"><%= @career.university.name %></h3>
<h5 class="center"><%= @career.university.country.name%></h5>
<p class="center"><%= @career.university.address%></p>
<hr>

<br>
<div class="row">
<div class="col-md-12">
  <div id="bread">
    <ul>
      <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">Information</a>

      <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Mexico')">Reviews</a>

      <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Tokio')">Alumni</a>

      <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Ny')">Acreditations</a>

      <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Paris')">Current Jobs</a>

      <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Chicago')">World Rankings</a>
    </ul>
  </div>
  </div>
</div>

<div id="row">
  <div class="col-md-3">
    <div id="magic">
    <h4 class="titulo">U-finder Score</h4>
    <%= render 'universities/unive_score' %>
  </div>

  <div id="magic">
      <h4 class="titulo">Academic Score</h4>
      <%= render 'universities/academicscore' %>

      <h4 class="titulo">Infraestructure Score</h4>
      <%= render 'universities/infraestructurescore' %>

      <h4 class="titulo">Proffesors Score</h4>
      <%= render 'universities/professorscore' %>

      <h4 class="titulo">Alumni Score</h4>
      <%= render 'universities/alumniscore' %>


      <h4 class="titulo">Cost Score</h4>
      <%= render 'universities/investmentscore' %>


      <h4 class="titulo">Party Life Score</h4>
      <%= render 'universities/partyscore' %>
  </div>
  </div>



<div id="London" class="tabcontent">
<div class="col-md-9">
<div id="magic">
<div class="row">
  <div class="col-md-8">



  <h4 class="titulo">Division <a href="#" id="50"> <span class="grande fa fa-pencil-square"></span></a></h4>
    <p><%= best_in_place [@university, @career], :area, :as => :select, :collection => {"1" => "Agricultural", "2" => "Art and Architecture", "3" => "Exact and Natural Sciences", "4" => "Social Sciences", "5" => "Law", "6" => "Human Studies", "7" => "Education", "8" => "Technology", "9" => "Health Studies", "10" => "Administration and Trade Studies", "11" => "Religious Studies"}, :activator => "#50" %></p>

    
    <h4 class="titulo">Description <a href="#" id="5"> <span class="grande fa fa-pencil-square"></span></a></h4>
    <p><%= best_in_place [@university, @career], :description, :as => :textarea, :place_holder => "Click me to add content!", :activator => "#5" %></p>

    <h4 class="titulo">Who may study this? <a href="#" id="6"> <span class="grande fa fa-pencil-square"></span></a></h4>
    <p><%= best_in_place [@university, @career], :for_who, :as => :textarea, :place_holder => "Click me to add content!", :activator => "#6" %></p>

<div class="row">
  <div class="col-md-6">
    <h4 class="titulo">Duration <a href="#" id="7"> <span class="grande fa fa-pencil-square"></span></a></h4>
    <p><%= best_in_place [@university, @career], :duration, :place_holder => "Click me to add content!", :activator => "#7" %></p>
  </div>
  <div class="col-md-6">
    <h4 class="titulo">Modality <a href="#" id="8"> <span class="grande fa fa-pencil-square"></span></a></h4>
    <p><%= best_in_place [@university, @career], :modality, :as => :select, :collection => {"1" => "Face to face", "2" => "On line"}, :activator => "#8" %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h4 class="titulo">Shift <a href="#" id="9"> <span class="grande fa fa-pencil-square"></span></a></h4>
    <p><%= best_in_place [@university, @career], :shift, :as => :select, :collection => {"1" => "Morning Shift", "2" => "Afternoon Shift"}, :activator => "#9" %></p>
  </div>
  <div class="col-md-6">
    <h4 class="titulo">Aprox Cost <a href="#" id="10"> <span class="grande fa fa-pencil-square"></span></a></h4>
    <p><%= best_in_place [@university, @career], :aprox_cost, :place_holder => "Click me to add content!", :activator => "#10" %></p>
  </div>
</div>


  </div>
  <div class="col-md-4">
    <h4 class="titulo">Contact</h4>
    <h5><span class="fa fa-globe"> </span><%= best_in_place [@university, @career], :website, :place_holder => "Add website", :activator => "#6" %> <a href="#" id="6"> <span class="grande fa fa-pencil-square"></span></a></h5>

      <h5><span class="fa fa-envelope"> </span><%= best_in_place [@university, @career], :email, :place_holder => "Add an email", :activator => "#7" %> <a href="#" id="7"> <span class="grande fa fa-pencil-square"></span></a></h5>

      <h5><span class="fa fa-facebook"> </span><%= best_in_place [@university, @career], :facebook, :place_holder => "Add facebook page", :activator => "#8" %> <a href="#" id="8"> <span class="grande fa fa-pencil-square"></span></a></h5>

      <h5><span class="fa fa-twitter"> </span><%= best_in_place [@university, @career], :twitter, :place_holder => "Add twitter site", :activator => "#9" %> <a href="#" id="9"> <span class="grande fa fa-pencil-square"></span></a></h5>

      <h5><span class="fa fa-linkedin"> </span><%= best_in_place [@university, @career], :linkedin, :place_holder => "Add linked in website", :activator => "#10" %> <a href="#" id="10"> <span class="grande fa fa-pencil-square"></span></a></h5>

      <h5><span class="fa fa-globe"> </span><%= best_in_place [@university, @career], :blog, :place_holder => "Add blog", :activator => "#11" %> <a href="#" id="11"> <span class="grande fa fa-pencil-square"></span></a></h5>

  </div>
</div>
</div>
</div>
</div>

<div id="Mexico" class="tabcontent">
<div class="col-md-9">
<div id="magic">
  <%= render 'reviews' %>
</div>
</div>
</div>

<div id="Tokio" class="tabcontent">
<div class="col-md-9">
<div id="magic">
  <%= render 'alumni' %>
</div>
</div>
</div>

<div id="Ny" class="tabcontent">
<div class="col-md-9">
<div id="magic">
  <%= render 'accreditations' %>
</div>
</div>
</div>

<div id="Paris" class="tabcontent">
<div class="col-md-9">
<div id="magic">
  <%= render 'current_jobs' %>
</div>
</div>
</div>

<div id="Chicago" class="tabcontent">
<div class="col-md-9">
<div id="magic">
  <%= render 'rankings' %>
</div>
</div>
</div>

</div>


<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
