<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#AcademicmyModal">New Academic Score</button>
<!--  -->
<!-- Modal -->
<div class="modal fade" id="AcademicmyModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Your Academic Score</h4>
      </div>
      <div class="modal-body">
      <%= form_for [@university, @academic_score], remote: true, :html => {:id => 'academic_review_form'} do |f| %>
  <% if @academic_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@academic_score.errors.count, "error") %> prohibited this academic_score from being saved:</h2>

      <ul>
      <% @academic_score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :academic_score %><br>
    <%= f.number_field :academic_score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
    </div>
  </div>
</div>

<h1>Academic Score: <span id="academic_reviews_count"><%= @university.average_academic_score %></span></h1>


<!--  -->