
<!--  -->
<!-- Modal -->
<div class="modal fade" id="AdmissionmyModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Your Admission Score</h4>
      </div>
      <div class="modal-body">

<%= form_for [@university, @admission_score], remote:true, :html => {:id => 'admission_review_form'} do |f| %>
  <% if @admission_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admission_score.errors.count, "error") %> prohibited this admission_score from being saved:</h2>

      <ul>
      <% @admission_score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :admission_score %><br>
    <%= f.number_field :admission_score %>
  </div>
  <div class="actions">
    <%= f.submit class: "botones button_red" %>
  </div>
<% end %>
</div>
    </div>
  </div>
</div>

<% if @university.average_admission_score.between?(0, 0.99) %>
<h6><span class="fa fa-star-half"></span>
<% elsif @university.average_admission_score.between?(1, 1.49) %>
<h6><span class="fa fa-star"></span>
<% elsif @university.average_admission_score.between?(1.5, 1.99) %>
<h6><span class="fa fa-star"><span class="fa fa-star-half"></span>
<% elsif @university.average_admission_score.between?(2, 2.49) %>
<h6><span class="fa fa-star"><span class="fa fa-star"></span>
<% elsif @university.average_admission_score.between?(2.5, 2.99) %>
<h6><span class="fa fa-star"><span class="fa fa-star"><span class="fa fa-star-half"></span>
<% elsif @university.average_admission_score.between?(3, 3.49) %>
<h6><span class="fa fa-star"><span class="fa fa-star"><span class="fa fa-star"></span>
<% elsif @university.average_admission_score.between?(3.5, 3.99) %>
<h6><span class="fa fa-star"><span class="fa fa-star"><span class="fa fa-star"><span class="fa fa-star-half"></span>
<% elsif @university.average_admission_score.between?(4, 4.49) %>
<h6><span class="fa fa-star"><span class="fa fa-star"><span class="fa fa-star"><span class="fa fa-star"><span class="fa fa-star"></span>
<% elsif @university.average_admission_score.between?(4.5, 4.99) %>
<h6><span class="fa fa-star"><span class="fa fa-star"><span class="fa fa-star"><span class="fa fa-star"><span class="fa fa-star-half"></span>
<% elsif @university.average_admission_score.between?(5, 5.99) %>
<h6><span class="fa fa-star"><span class="fa fa-star"><span class="fa fa-star"><span class="fa fa-star"><span class="fa fa-star"></span>
<% end %>
<span id="admission_reviews_count">(<%= @university.average_admission_score %>)</span></h6>


<button type="button" class="botones button_red" data-toggle="modal" data-target="#AdmissionmyModal">New Admission Score</button>


<!--  -->