<%= form_for [@university] do |f| %>
  <% if @university.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@university.errors.count, "error") %> prohibited this university from being saved:</h2>

      <ul>
      <% @university.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <%= f.label :Country_id %><br>
  <%= collection_select(:university, :country_id, Country.all, :id, :name, {:prompt => 'Select Country'}) %>
</div>

<!--   <div class="field">
    <%#= f.label :option %><br>
    <%#= f.text_field :option %>
  </div> -->
  <div class="field">
    <%= f.label :private_or_public %><br>
    <%= f.select :private_or_public, [["Private"], ["Public"]]%>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :fundation %><br>
    <%= f.date_field :fundation %>
  </div>
  <div class="field">
    <%= f.label :rector %><br>
    <%= f.text_field :rector %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :facebook %><br>
    <%= f.url_field :facebook %>
  </div>
  <div class="field">
    <%= f.label :twitter %><br>
    <%= f.url_field :twitter %>
  </div>
  <div class="field">
    <%= f.label :linkedin %><br>
    <%= f.url_field :linkedin %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.url_field :website %>
  </div>
  <div class="field">
    <%= f.label :link_admission %><br>
    <%= f.url_field :link_admission %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field hidden">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field hidden">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :logo %><br>
    <%= f.file_field :logo %>
  </div>
  <div class="field">
    <%= f.label :many_proffesors %><br>
    <%= f.number_field :many_proffesors %>
  </div>
  <div class="field">
    <%= f.label :many_students %><br>
    <%= f.number_field :many_students %>
  </div>
  <div class="field">
    <%= f.label :is_wifi %><br>
    <%= f.check_box :is_wifi %>
  </div>
  <div class="field">
    <%= f.label :is_cafe %><br>
    <%= f.check_box :is_cafe %>
  </div>
  <div class="field">
    <%= f.label :is_safe %><br>
    <%= f.check_box :is_safe %>
  </div>
  <div class="field">
    <%= f.label :is_libray %><br>
    <%= f.check_box :is_libray %>
  </div>
  <div class="field">
    <%= f.label :is_job_help %><br>
    <%= f.check_box :is_job_help %>
  </div>
  <div class="field">
    <%= f.label :is_student_exchange %><br>
    <%= f.check_box :is_student_exchange %>
  </div>
  <div class="field">
    <%= f.label :is_spiritual %><br>
    <%= f.check_box :is_spiritual %>
  </div>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
