<%= form_for [@country,@university, @graduation_score] do |f| %>
  <% if @graduation_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@graduation_score.errors.count, "error") %> prohibited this graduation_score from being saved:</h2>

      <ul>
      <% @graduation_score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :graduation_score %><br>
    <%= f.number_field :graduation_score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<h1>graduation_score: <%= @university.average_graduation_score %></h1>

<!--  -->