<%= form_for [@country,@university, @infraestructure_score] do |f| %>
  <% if @infraestructure_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@infraestructure_score.errors.count, "error") %> prohibited this infraestructure_score from being saved:</h2>

      <ul>
      <% @infraestructure_score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :infraestructure_score %><br>
    <%= f.number_field :infraestructure_score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<h1>Score: <%= @university.average_infraestructure_score %></h1>

<!--  -->