<div id="magic">
      <h4 class="titulo">Academic Score</h4>
      <%= render 'academicscore' %>

      <h4 class="titulo">Infraestructure Score</h4>
      <%= render 'infraestructurescore' %>

      <h4 class="titulo">Proffesors Score</h4>
      <%= render 'professorscore' %>

      <h4 class="titulo">Alumni Score</h4>
      <%= render 'alumniscore' %>


      <h4 class="titulo">Cost Score</h4>
      <%= render 'investmentscore' %>

      <h4 class="titulo">Satisfaction Score</h4>
      <%= render 'satisfactionscore' %>

      <h4 class="titulo">Party Life Score</h4>
      <%= render 'partyscore' %>

    </div>