<%= form_for [@country,@university, @party_score] do |f| %>
  <% if @academic_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@party_score.errors.count, "error") %> prohibited this party_score from being saved:</h2>

      <ul>
      <% @party_score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :party_score %><br>
    <%= f.number_field :party_score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<h1>Score: <%= @university.average_party_score %></h1>

<!--  -->