<%= form_for [@country,@university, @professor_score] do |f| %>
  <% if @professor_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@professor_score.errors.count, "error") %> prohibited this professor_score from being saved:</h2>

      <ul>
      <% @professor_score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :professor_score %><br>
    <%= f.number_field :professor_score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<h1>professor_score: <%= @university.average_professor_score %></h1>

<!--  -->