<div class="row">
  <% @universities.each_with_index do |university, i| %>
  <div class="col-md-4 col-sm-6">
    <%= link_to university_path(university) do %>

    <div id="magic_card">
    <h2><%= i+1 %> |</h2>
      <div class="imagen">
        <%= image_tag ("logo.png")%>
      </div>
      <div class="content">
        <h3><%= university.try(:name).truncate(50) %></h3>
        <h4 class="titulo"><%= university.country.name%></h4>
        <% if university.description.present? %>
        <p><%= university.try(:description).truncate(100)%></p>
        <% end %>
        <h5 class="izq"><span class="fa fa-clone"> </span> <%= university.careers.count%> careers</h5>
        <h5 class="der"><span class="fa fa-star"> </span> <%= university.average_score%></h5>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>


<div class="row">
<div class="center">
<% unless @universities.blank? %>
  <%= will_paginate @universities %>
<% end %>
</div>
</div>


