<br><div id= "banner" class="cover_home">
  <h4 class="white"><%= @university.country.name%></h4>
  <p class="white"><%= @university.address%></p>
  <h1><%= @university.name%></h1>
  <h1 class="element typed"></h1>
</div>



<div class="row">
<div class="col-md-12">
  <div id="bread">
    <ul>
      <li class=" <%= 'active' if current_page?(university_path(@university)) %> ">
        <%= link_to "University Info", university_path(@university) %>
      </li>
      <li class=" <%= 'active' if current_page?(university_careers_path(@university)) %> ">
        <%= link_to "Careers Info", university_careers_path(@university) %>
      </li>
    </ul>
  </div>
  </div>
</div>



<div class="row">
  <div class="col-md-3">
  <div id="magic">
  <h4 class="titulo">U-logo</h4>
    <%= render 'avatar' %>
  </div>
    <div id="magic">
      <h4 class="titulo">U-finder Score</h4>
      <%= render 'unive_score' %>
    </div>
    <div class="hidden-sm hidden-xs">
    <%= render 'magic' %>
    </div>
  </div>
  <div class="col-md-6">
    <div id="magic">
      
      <h4 class="titulo"><%= best_in_place [@university], :name, :place_holder => "Click me to add content!", :activator => "#1" %>
  <a href="#" id="1"> <span class="grande fa fa-pencil-square"></span></a></h4>

      <p><%= best_in_place [@university], :description, :place_holder => "Click here to edit the university description ", :as => :textarea %><span class="grande fa fa-pencil-square"></span></p>
      
      <div class="row">
      <div class="col-xs-6">
      <h4 class="titulo">Foundation date <a href="#" id="5"> <span class="grande fa fa-pencil-square"></span></a></h4>
      <p><%= best_in_place [@university], :fundation, :place_holder => "Add the foundation date", :activator => "#5" %></p>
      </div>
      
      <div class="col-xs-6">
      <h4 class="titulo">University rector <a href="#" id="2"> <span class="grande fa fa-pencil-square"></span></a></h4>
      <p><%= best_in_place [@university], :rector, :place_holder => "Add the rector's name", :activator => "#2" %></p>
      </div>
      </div>

      <div class="row">
      <div class="col-xs-6">
      <h4 class="titulo"># of professors <a href="#" id="3"> <span class="grande fa fa-pencil-square"></span></a></h4>
      <p><%= best_in_place [@university], :many_proffesors, :place_holder => "How many proffesors are?", :activator => "#3" %></p>
      </div>
      
      <div class="col-xs-6">
      <h4 class="titulo"># of Students <a href="#" id="4"> <span class="grande fa fa-pencil-square"></span></a></h4>
      <p><%= best_in_place [@university], :many_students, :place_holder => "How many students are?", :activator => "#4" %></p>
      </div>
      </div>

    </div>

    <div id="magic">
      <h4 class="titulo">Location</h4>
      <div id="map2"></div>
    </div>

    <div id="magic">
      <h4 class="titulo">Gallery</h4>
      <%= render 'galle' %>
    </div>
  </div>
  <div class="col-md-3">
  <div id="magic">
    <h4 class="titulo">Share</h4>

<div class="row">
<div class="col-xs-6">
<a class="icon-facebook botones button_red" rel="nofollow"
    href="http://www.facebook.com/"
    onclick="popUp=window.open(
      'http://www.facebook.com/sharer.php?u=<%="#{request.original_url}"%>',
      'popupwindow',
      'scrollbars=yes,width=800,height=400');
    popUp.focus();
    return false">
    <i class="fa fa-facebook fa-lg face"></i>
  </a>
</div>

<div class="col-xs-6">
  <a class="icon-twitter botones button_red" rel="nofollow"
  href="http://twitter.com/"
  onclick="popUp=window.open(
    'http://twitter.com/intent/tweet?text=\'<%= @university.name %>\' by U-finder - <%="#{request.original_url}"%>',
    'popupwindow',
    'scrollbars=yes,width=800,height=400');
  popUp.focus();
  return false">
  <i class="fa fa-twitter fa-lg twitter"></i>
</a>
</div>
</div>

<div class="row">
<div class="col-xs-6">
<a class="icon-pinterest botones button_red" rel="nofollow"
href="http://www.pinterest.com/"
onclick="popUp=window.open(
  'http://pinterest.com/pin/create/button/?url=<%="#{request.original_url}"%>&amp;media=&amp;description=<%= @university.name %>',
  'popupwindow',
  'scrollbars=yes,width=800,height=400');
popUp.focus();
return false">
<i class="fa fa-pinterest fa-lg you"></i>
</a>
</div>

<div class="col-xs-6">
<a class="icon-gplus botones button_red" rel="nofollow"
href="http://www.plus.google.com/"
onclick="popUp=window.open(
  'https://plus.google.com/share?url=<%="#{request.original_url}"%>',
  'popupwindow',
  'scrollbars=yes,width=800,height=400');
popUp.focus();
return false">
<i class="fa fa-google-plus fa-lg you"></i>
</a>
</div>
</div>

  </div>
    <div id="magic">
      <h4 class="titulo">Contact</h4>
      <h5><span class="fa fa-globe"> </span><%= best_in_place [@university], :website, :place_holder => "Add website", :activator => "#6" %> <a href="#" id="6"> <span class="grande fa fa-pencil-square"></span></a></h5>

      <h5><span class="fa fa-envelope"> </span><%= best_in_place [@university], :email, :place_holder => "Add an email", :activator => "#7" %> <a href="#" id="7"> <span class="grande fa fa-pencil-square"></span></a></h5>

      <h5><span class="fa fa-facebook"> </span><%= best_in_place [@university], :facebook, :place_holder => "Add facebook page", :activator => "#8" %> <a href="#" id="8"> <span class="grande fa fa-pencil-square"></span></a></h5>

      <h5><span class="fa fa-twitter"> </span><%= best_in_place [@university], :twitter, :place_holder => "Add twitter site", :activator => "#9" %> <a href="#" id="9"> <span class="grande fa fa-pencil-square"></span></a></h5>

      <h5><span class="fa fa-linkedin"> </span><%= best_in_place [@university], :linkedin, :place_holder => "Add linked in website", :activator => "#10" %> <a href="#" id="10"> <span class="grande fa fa-pencil-square"></span></a></h5>

      <p></p>
      <h4 class="titulo">Admission Link</h4>
      <h5><span class="fa fa-external-link"> </span><%= best_in_place [@university], :link_admission, :place_holder => "Add Admission website", :activator => "#11" %> <a href="#" id="11"> <span class="grande fa fa-pencil-square"></span></a></h5>
    </div>

    <div id="magic">
      <h4 class="titulo">Amenities</h4>
      <h5><span class="fa fa-wifi"></span><%= best_in_place [@university], :is_wifi, as: :checkbox, collection: {true: "Wifi", false: "#{'<span class= "strike">Wifi</span>'}".html_safe}, :activator => "#12" %><a href="#" id="12"> <span class="grande fa fa-toggle-on"></span></a></h5>

      <h5><span class="fa fa-coffee"></span><%= best_in_place [@university], :is_cafe, as: :checkbox, collection: {true: "Cafeteria", false: "#{'<span class= "strike">Cafeteria</span>'}".html_safe}, :activator => "#13" %><a href="#" id="13"> <span class="grande fa fa-toggle-on"></span></a></h5> 
      
      <h5><span class="fa fa-book"></span><%= best_in_place [@university], :is_libray, as: :checkbox, collection: {true: "Library", false: "#{'<span class= "strike">Library</span>'}".html_safe}, :activator => "#14" %><a href="#" id="14"> <span class="grande fa fa-toggle-on"></span></a></h5> 


      <h5><span class="fa fa-search"></span><%= best_in_place [@university], :is_job_help, as: :checkbox, collection: {true: "Job Board", false: "#{'<span class= "strike">Job Board</span>'}".html_safe}, :activator => "#15" %><a href="#" id="15"> <span class="grande fa fa-toggle-on"></span></a></h5> 


      <h5><span class="fa fa-plane"></span><%= best_in_place [@university], :is_student_exchange, as: :checkbox, collection: {true: "Study Abroad", false: "#{'<span class= "strike">Study Abroad</span>'}".html_safe}, :activator => "#16" %><a href="#" id="16"> <span class="grande fa fa-toggle-on"></span></a></h5> 



      <h5><span class="fa fa-hand-peace-o"></span><%= best_in_place [@university], :is_safe, as: :checkbox, collection: {true: "Safe Campus", false: "#{'<span class= "strike">Safe Campus</span>'}".html_safe}, :activator => "#17" %><a href="#" id="17"> <span class="grande fa fa-toggle-on"></span></a></h5> 



      <h5><span class="fa fa-bell"></span><%= best_in_place [@university], :is_spiritual, as: :checkbox, collection: {true: "Spiritual University", false: "#{'<span class= "strike">Spiritual University</span>'}".html_safe}, :activator => "#18" %><a href="#" id="18"> <span class="grande fa fa-toggle-on"></span></a></h5> 



      <h5><span class="fa fa-anchor"></span><%= best_in_place [@university], :gym, as: :checkbox, collection: {true: "Gym", false: "#{'<span class= "strike">Gym</span>'}".html_safe}, :activator => "#19" %><a href="#" id="19"> <span class="grande fa fa-toggle-on"></span></a></h5> 


      <h5><span class="fa fa-life-ring"></span><%= best_in_place [@university], :pool, as: :checkbox, collection: {true: "Swimming Pool", false: "#{'<span class= "strike">Swimming Pool</span>'}".html_safe}, :activator => "#20" %><a href="#" id="20"> <span class="grande fa fa-toggle-on"></span></a></h5> 


      <h5><span class="fa fa-bed"></span><%= best_in_place [@university], :residence, as: :checkbox, collection: {true: "Students residence", false: "#{'<span class= "strike">Students residence</span>'}".html_safe}, :activator => "#21" %><a href="#" id="21"> <span class="grande fa fa-toggle-on"></span></a></h5> 



      <h5><span class="fa fa-map-marker"></span><%= best_in_place [@university], :location, as: :checkbox, collection: {true: "Good Location", false: "#{'<span class= "strike">Good Location</span>'}".html_safe}, :activator => "#22" %><a href="#" id="22"> <span class="grande fa fa-toggle-on"></span></a></h5> 


      <h5><span class="fa fa-coffee"></span><%= best_in_place [@university], :luch, as: :checkbox, collection: {true: "Places for lunch", false: "#{'<span class= "strike">Places for lunch</span>'}".html_safe}, :activator => "#23" %><a href="#" id="23"> <span class="grande fa fa-toggle-on"></span></a></h5> 

    </div>

<!--  -->
    <div id="magic">
      <h4 class="titulo">Sports</h4>

<h5><span class="fa fa-location-arrow"></span><%= best_in_place [@university], :football, as: :checkbox, collection: {true: "Football", false: "#{'<span class= "strike">Football</span>'}".html_safe}, :activator => "#24" %><a href="#" id="24"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-location-arrow"></span><%= best_in_place [@university], :soccer, as: :checkbox, collection: {true: "Soccer", false: "#{'<span class= "strike">Soccer</span>'}".html_safe}, :activator => "#25" %><a href="#" id="25"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-location-arrow"></span><%= best_in_place [@university], :volley, as: :checkbox, collection: {true: "Volleyball", false: "#{'<span class= "strike">Volleyball</span>'}".html_safe}, :activator => "#26" %><a href="#" id="26"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-location-arrow"></span><%= best_in_place [@university], :tennis, as: :checkbox, collection: {true: "Tennis", false: "#{'<span class= "strike">Tennis</span>'}".html_safe}, :activator => "#27" %><a href="#" id="27"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-location-arrow"></span><%= best_in_place [@university], :table_tennis, as: :checkbox, collection: {true: "Table Tennis", false: "#{'<span class= "strike">Table Tennis</span>'}".html_safe}, :activator => "#28" %><a href="#" id="28"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-location-arrow"></span><%= best_in_place [@university], :baseball, as: :checkbox, collection: {true: "Baseball", false: "#{'<span class= "strike">Baseball</span>'}".html_safe}, :activator => "#29" %><a href="#" id="29"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-location-arrow"></span><%= best_in_place [@university], :track_and_field, as: :checkbox, collection: {true: "Track and Field", false: "#{'<span class= "strike">Track and Field</span>'}".html_safe}, :activator => "#30" %><a href="#" id="30"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-location-arrow"></span><%= best_in_place [@university], :golf, as: :checkbox, collection: {true: "Golf", false: "#{'<span class= "strike">Golf</span>'}".html_safe}, :activator => "#31" %><a href="#" id="31"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-location-arrow"></span><%= best_in_place [@university], :swimming, as: :checkbox, collection: {true: "Swimming", false: "#{'<span class= "strike">Swimming</span>'}".html_safe}, :activator => "#32" %><a href="#" id="32"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-location-arrow"></span><%= best_in_place [@university], :rugby, as: :checkbox, collection: {true: "Rugby", false: "#{'<span class= "strike">Rugby</span>'}".html_safe}, :activator => "#33" %><a href="#" id="33"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-location-arrow"></span><%= best_in_place [@university], :climbing, as: :checkbox, collection: {true: "Climbing", false: "#{'<span class= "strike">Climbing</span>'}".html_safe}, :activator => "#34" %><a href="#" id="34"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-location-arrow"></span><%= best_in_place [@university], :lacrosse, as: :checkbox, collection: {true: "Lacrosse", false: "#{'<span class= "strike">Lacrosse</span>'}".html_safe}, :activator => "#35" %><a href="#" id="35"> <span class="grande fa fa-toggle-on"></span></a></h5>




      

    </div>
<!--  -->
    <div id="magic">
      <h4 class="titulo">Cultural Activities</h4>

<h5><span class="fa fa-bookmark"></span><%= best_in_place [@university], :drawing, as: :checkbox, collection: {true: "Lacrosse", false: "#{'<span class= "strike">Lacrosse</span>'}".html_safe}, :activator => "#36" %><a href="#" id="36"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-bookmark"></span><%= best_in_place [@university], :photography, as: :checkbox, collection: {true: "Photography", false: "#{'<span class= "strike">Photography</span>'}".html_safe}, :activator => "#37" %><a href="#" id="37"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-bookmark"></span><%= best_in_place [@university], :sculpture, as: :checkbox, collection: {true: "Sculpture", false: "#{'<span class= "strike">Sculpture</span>'}".html_safe}, :activator => "#38" %><a href="#" id="38"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-bookmark"></span><%= best_in_place [@university], :theatre, as: :checkbox, collection: {true: "Theatre", false: "#{'<span class= "strike">Theatre</span>'}".html_safe}, :activator => "#39" %><a href="#" id="39"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-bookmark"></span><%= best_in_place [@university], :wood, as: :checkbox, collection: {true: "Wood Working", false: "#{'<span class= "strike">Wood Working</span>'}".html_safe}, :activator => "#40" %><a href="#" id="40"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-bookmark"></span><%= best_in_place [@university], :music, as: :checkbox, collection: {true: "Music", false: "#{'<span class= "strike">Music</span>'}".html_safe}, :activator => "#41" %><a href="#" id="41"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-bookmark"></span><%= best_in_place [@university], :choir, as: :checkbox, collection: {true: "Choir", false: "#{'<span class= "strike">Choir</span>'}".html_safe}, :activator => "#42" %><a href="#" id="42"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-bookmark"></span><%= best_in_place [@university], :marching_band, as: :checkbox, collection: {true: "Marching Band", false: "#{'<span class= "strike">Marching Band</span>'}".html_safe}, :activator => "#43" %><a href="#" id="43"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-bookmark"></span><%= best_in_place [@university], :dance, as: :checkbox, collection: {true: "Dance", false: "#{'<span class= "strike">Dance</span>'}".html_safe}, :activator => "#44" %><a href="#" id="44"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-bookmark"></span><%= best_in_place [@university], :mun, as: :checkbox, collection: {true: "Model United Nations", false: "#{'<span class= "strike">Model United Nations</span>'}".html_safe}, :activator => "#45" %><a href="#" id="45"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-bookmark"></span><%= best_in_place [@university], :volunteer, as: :checkbox, collection: {true: "Volunteer", false: "#{'<span class= "strike">Volunteer</span>'}".html_safe}, :activator => "#46" %><a href="#" id="46"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-bookmark"></span><%= best_in_place [@university], :gamers, as: :checkbox, collection: {true: "Gamers Club", false: "#{'<span class= "strike">Gamers Club</span>'}".html_safe}, :activator => "#47" %><a href="#" id="47"> <span class="grande fa fa-toggle-on"></span></a></h5>


    </div>


    <div id="magic">
      <h4 class="titulo">Language Friendly</h4>

<h5><span class="fa fa-language"></span><%= best_in_place [@university], :english, as: :checkbox, collection: {true: "English", false: "#{'<span class= "strike">English</span>'}".html_safe}, :activator => "#48" %><a href="#" id="48"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-language"></span><%= best_in_place [@university], :spanish, as: :checkbox, collection: {true: "Spanish", false: "#{'<span class= "strike">Spanish</span>'}".html_safe}, :activator => "#49" %><a href="#" id="49"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-language"></span><%= best_in_place [@university], :french, as: :checkbox, collection: {true: "French", false: "#{'<span class= "strike">French</span>'}".html_safe}, :activator => "#50" %><a href="#" id="50"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-language"></span><%= best_in_place [@university], :german, as: :checkbox, collection: {true: "German", false: "#{'<span class= "strike">German</span>'}".html_safe}, :activator => "#51" %><a href="#" id="51"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-language"></span><%= best_in_place [@university], :chinese, as: :checkbox, collection: {true: "Chinese", false: "#{'<span class= "strike">Chinese</span>'}".html_safe}, :activator => "#52" %><a href="#" id="52"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-language"></span><%= best_in_place [@university], :italian, as: :checkbox, collection: {true: "Italian", false: "#{'<span class= "strike">Italian</span>'}".html_safe}, :activator => "#53" %><a href="#" id="53"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-language"></span><%= best_in_place [@university], :portuguese, as: :checkbox, collection: {true: "Portuguese", false: "#{'<span class= "strike">Portuguese</span>'}".html_safe}, :activator => "#54" %><a href="#" id="54"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-language"></span><%= best_in_place [@university], :russian, as: :checkbox, collection: {true: "Russian", false: "#{'<span class= "strike">Russian</span>'}".html_safe}, :activator => "#55" %><a href="#" id="55"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-language"></span><%= best_in_place [@university], :japanese, as: :checkbox, collection: {true: "Japanese", false: "#{'<span class= "strike">Japanese</span>'}".html_safe}, :activator => "#56" %><a href="#" id="56"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-language"></span><%= best_in_place [@university], :latin, as: :checkbox, collection: {true: "Latin", false: "#{'<span class= "strike">Latin</span>'}".html_safe}, :activator => "#57" %><a href="#" id="57"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-language"></span><%= best_in_place [@university], :greek, as: :checkbox, collection: {true: "Greek", false: "#{'<span class= "strike">Greek</span>'}".html_safe}, :activator => "#58" %><a href="#" id="58"> <span class="grande fa fa-toggle-on"></span></a></h5>

<h5><span class="fa fa-language"></span><%= best_in_place [@university], :signs, as: :checkbox, collection: {true: "Signs Language", false: "#{'<span class= "strike">Signs Language</span>'}".html_safe}, :activator => "#59" %><a href="#" id="59"> <span class="grande fa fa-toggle-on"></span></a></h5>
      

    </div>

    <div class="visible-sm visible-xs">
    <%= render 'magic' %>
    </div>
  </div>
</div>

<p>
  <strong>Private or public:</strong>
  <%= @university.private_or_public %>
</p>


<!--  -->

<script>
  $(document).ready(function() {
  /* Activating Best In Place */
  jQuery(".best_in_place").best_in_place();
});
</script>


<script>

function initMap() {
  var myLatLng = {lat: <%= @university.latitude %>, lng: <%= @university.longitude %>};

  var map = new google.maps.Map(document.getElementById('map2'), {
    zoom: 16,
    center: myLatLng,
    scrollwheel: false
  });


  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: '<%= @university.name %>'
  });
}

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6K3XNvvLlBjourkCDTo3CMOUygthuYKo&signed_in=true&callback=initMap"></script>
