<br><div id= "banner" class="cover_home">
  <h4 class="white"><%= @university.country.name%></h4>
  <p class="white"><%= @university.address%></p>
  <h1><%= @university.name%></h1>
  <h1 class="element typed"></h1>
</div>



<div class="row">
<div class="col-md-12">
  <div id="bread">
    <ul>
      <li class=" <%= 'active' if current_page?(university_path(@university)) %> ">
        <%= link_to "University Info", university_path(@university) %>
      </li>
      <li class=" <%= 'active' if current_page?(university_careers_path(@university)) %> ">
        <%= link_to "Careers Info", university_careers_path(@university) %>
      </li>
    </ul>
  </div>
  </div>
</div>



<div class="row">
  <div class="col-md-3">
  <div id="magic">
  <h4 class="titulo">U-logo</h4>
    <%= render 'avatar' %>
  </div>
    <div id="magic">
      <h4 class="titulo">U-finder Score</h4>
      <%= render 'unive_score' %>
    </div>
    <div class="hidden-sm hidden-xs">
    <%= render 'magic' %>
    </div>
  </div>
  <div class="col-md-6">
    <div id="magic">
      <h4 class="titulo"><%= @university.name.truncate(50) %></h4>

      <p><%= @university.description %></p>
      
      <div class="row">
      <div class="col-xs-6">
      <h4 class="titulo">Foundation date</h4>
      <p><%= @university.fundation %></p>
      </div>
      
      <div class="col-xs-6">
      <h4 class="titulo">University rector</h4>
      <p><%= @university.rector %></p>
      </div>
      </div>

      <div class="row">
      <div class="col-xs-6">
      <h4 class="titulo"># of professors</h4>
      <p><%= @university.many_proffesors %></p>
      </div>
      
      <div class="col-xs-6">
      <h4 class="titulo"># of Students</h4>
      <p><%= @university.many_students %></p>
      </div>
      </div>

    </div>

    <div id="magic">
      <h4 class="titulo">Location</h4>
      <div id="map2"></div>
    </div>

    <div id="magic">
      <h4 class="titulo">Gallery</h4>
      <%= render 'galle' %>
    </div>
  </div>
  <div class="col-md-3">
  <div id="magic">
    <h4 class="titulo">Share</h4>

<div class="row">
<div class="col-xs-6">
<a class="icon-facebook botones button_red" rel="nofollow"
    href="http://www.facebook.com/"
    onclick="popUp=window.open(
      'http://www.facebook.com/sharer.php?u=<%="#{request.original_url}"%>',
      'popupwindow',
      'scrollbars=yes,width=800,height=400');
    popUp.focus();
    return false">
    <i class="fa fa-facebook fa-lg face"></i>
  </a>
</div>

<div class="col-xs-6">
  <a class="icon-twitter botones button_red" rel="nofollow"
  href="http://twitter.com/"
  onclick="popUp=window.open(
    'http://twitter.com/intent/tweet?text=\'<%= @university.name %>\' by U-finder - <%="#{request.original_url}"%>',
    'popupwindow',
    'scrollbars=yes,width=800,height=400');
  popUp.focus();
  return false">
  <i class="fa fa-twitter fa-lg twitter"></i>
</a>
</div>
</div>

<div class="row">
<div class="col-xs-6">
<a class="icon-pinterest botones button_red" rel="nofollow"
href="http://www.pinterest.com/"
onclick="popUp=window.open(
  'http://pinterest.com/pin/create/button/?url=<%="#{request.original_url}"%>&amp;media=&amp;description=<%= @university.name %>',
  'popupwindow',
  'scrollbars=yes,width=800,height=400');
popUp.focus();
return false">
<i class="fa fa-pinterest fa-lg you"></i>
</a>
</div>

<div class="col-xs-6">
<a class="icon-gplus botones button_red" rel="nofollow"
href="http://www.plus.google.com/"
onclick="popUp=window.open(
  'https://plus.google.com/share?url=<%="#{request.original_url}"%>',
  'popupwindow',
  'scrollbars=yes,width=800,height=400');
popUp.focus();
return false">
<i class="fa fa-google-plus fa-lg you"></i>
</a>
</div>
</div>

  </div>
    <div id="magic">
      <h4 class="titulo">Contact</h4>
      <h5><span class="fa fa-globe"> </span>  <%= @university.website %></h5>
      <h5><span class="fa fa-envelope"> </span>  <%= @university.email %></h5>
      <h5><span class="fa fa-facebook"> </span>  <%= @university.facebook %></h5>
      <h5><span class="fa fa-twitter"> </span>  <%= @university.twitter %></h5>
      <h5><span class="fa fa-linkedin"> </span>  <%= @university.linkedin %></h5>

      <p></p>
      <h4 class="titulo">Admission Link</h4>
      <h5><span class="fa fa-external-link"> </span>  <%= @university.link_admission %></h5>
    </div>

    <div id="magic">
      <h4 class="titulo">Amenities</h4>
      <% if @university.is_wifi == true %>
      <h5><span class="fa fa-wifi"></span>Wifi</h5>
      <% else %>
      <h5><span class="fa fa-wifi"></span><strike>Wifi</strike></h5>
      <% end %>

      <% if @university.is_cafe == true %>
      <h5><span class="fa fa-coffee"></span>Cafeteria</h5>
      <% else %>
      <h5><span class="fa fa-coffee"></span><strike>Cafeteria</strike></h5>
      <% end %>

      <% if @university.is_libray == true %>
      <h5><span class="fa fa-book"></span>Library</h5>
      <% else %>
      <h5><span class="fa fa-book"></span><strike>Library</strike></h5>
      <% end %>

      <% if @university.is_job_help == true %>
      <h5><span class="fa fa-search"></span>Job Board</h5>
      <% else %>
      <h5><span class="fa fa-search"></span><strike>Job Board</strike></h5>
      <% end %>

      <% if @university.is_student_exchange == true %>
      <h5><span class="fa fa-plane"></span>Study Abroad</h5>
      <% else %>
      <h5><span class="fa fa-plane"></span><strike>Study Abroad</strike></h5>
      <% end %>

      <% if @university.is_safe == true %>
      <h5><span class="fa fa-hand-peace-o"></span>Safe Campus</h5>
      <% else %>
      <h5><span class="fa fa-hand-peace-o"></span><strike>Safe Campus</strike></h5>
      <% end %>

      <% if @university.is_spiritual == true %>
      <h5><span class="fa fa-bell"></span>Spiritual University</h5>
      <% else %>
      <h5><span class="fa fa-bell"></span><strike>Spiritual University</strike></h5>
      <% end %>
    </div>

    <div id="magic">
      <h4 class="titulo">Sports</h4>
    </div>

    <div id="magic">
      <h4 class="titulo">Cultural Activities</h4>
    </div>

    <div class="visible-sm visible-xs">
    <%= render 'magic' %>
    </div>
  </div>
</div>

<p>
  <strong>Private or public:</strong>
  <%= @university.private_or_public %>
</p>

<p>
  <strong>Name:</strong>
  
  <%= best_in_place [@university], :name, :place_holder => "Click me to add content!" %>
</p>




<!--  -->


<script>

function initMap() {
  var myLatLng = {lat: <%= @university.latitude %>, lng: <%= @university.longitude %>};

  var map = new google.maps.Map(document.getElementById('map2'), {
    zoom: 16,
    center: myLatLng,
    scrollwheel: false
  });


  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: '<%= @university.name %>'
  });
}

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6K3XNvvLlBjourkCDTo3CMOUygthuYKo&signed_in=true&callback=initMap"></script>
