<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @university.user %>
</p>

<p>
  <strong>Country:</strong>
  <%= @university.country %>
</p>

<p>
  <strong>Option:</strong>
  <%= @university.option %>
</p>

<p>
  <strong>Private or public:</strong>
  <%= @university.private_or_public %>
</p>

<p>
  <strong>Name:</strong>
  
  <%= best_in_place [@country, @university], :name, :place_holder => "Click me to add content!" %>
</p>

<p>
  <strong>Description:</strong>
  <%= @university.description %>
</p>

<p>
  <strong>Fundation:</strong>
  <%= @university.fundation %>
</p>

<p>
  <strong>Rector:</strong>
  <%= @university.rector %>
</p>

<p>
  <strong>Email:</strong>
  <%= @university.email %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @university.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @university.twitter %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @university.linkedin %>
</p>

<p>
  <strong>Website:</strong>
  <%= @university.website %>
</p>

<p>
  <strong>Link admission:</strong>
  <%= @university.link_admission %>
</p>

<p>
  <strong>Address:</strong>
  <%= @university.address %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @university.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @university.latitude %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @university.logo %>
</p>

<p>
  <strong>Many proffesors:</strong>
  <%= @university.many_proffesors %>
</p>

<p>
  <strong>Many students:</strong>
  <%= @university.many_students %>
</p>

<p>
  <strong>Is wifi:</strong>
  <%= @university.is_wifi %>
</p>

<p>
  <strong>Is cafe:</strong>
  <%= @university.is_cafe %>
</p>

<p>
  <strong>Is safe:</strong>
  <%= @university.is_safe %>
</p>

<p>
  <strong>Is libray:</strong>
  <%= @university.is_libray %>
</p>

<p>
  <strong>Is job help:</strong>
  <%= @university.is_job_help %>
</p>

<p>
  <strong>Is student exchange:</strong>
  <%= @university.is_student_exchange %>
</p>

<p>
  <strong>Is spiritual:</strong>
  <%= @university.is_spiritual %>
</p>

<p>
  <strong>Sports:</strong>
  <%= @university.sports %>
</p>

<p>
  <strong>Cutural:</strong>
  <%= @university.cutural %>
</p>

<p>
  <strong>Languages:</strong>
  <%= @university.languages %>
</p>





<!--  -->

<%= render 'unive_score' %>

<%= render 'academicscore' %>

<%= render 'partyscore' %>

<%= render 'satisfactionscore' %>

<%= render 'infraestructurescore' %>

<%= render 'alumniscore' %>

<%= render 'admissionscore' %>

<%= render 'graduationscore' %>

<%= render 'professorscore' %>

<%= render 'investmentscore' %>

<%= render 'finantialscore' %>

<!--  -->

<%= render 'careers' %>


<%= link_to 'Edit', edit_country_university_path(@country, @university) %> |
<%= link_to 'Back', country_universities_path %>
